body{
    margin: 0;
    padding: 0;
}
/*Animation text*/
.animation-text{
    animation: 101s ani-text infinite;
    color: greenyellow;
}
@keyframes ani-text {
    from{
        color: greenyellow;
        font-weight: bold;
    }
    to{
        color: green;
        font-weight: normal;
    }
}
/*Styling icon */
.icon{
    border-radius: 10px;
    background: #3f35ce4e;
    padding: 10px ;
    margin-top: 30px;
}
.icon span{
    margin-left: 10px;
    color: green;
    border-radius: 80px;
    background: greenyellow;
    width: 50px;
    padding: 10px 20px;
}
/*height OF homepage*/
.home{
    border-bottom: 1px solid green;
    min-height: 70vh;
    padding-bottom: 100px;
    margin-top: 40px;
}
.scroll-up-bar{
    background: transparent;
}
.scroll-up-bar a{
    float: right;
}
/*Categories styling  slider*/
.category img{
    height: 500px;
}
/*product styling*/
.product{
    margin-top: 50px;
}
.row-2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.row-2 div{
    border-radius: 15px;
    width: 300px;
    padding: 10px 10px ;
    border: 1px solid gray;
}
.row-2 div img{
    height: 200px;
    text-align: center;
    width: 200px;
}
.row-2 div button{
    width: 280px;
    cursor: pointer;
    margin-top: 20px;
}
.icon-img{
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    cursor: pointer;
    background: green;
    color: whitesmoke;
    padding: 10px 10px;
    border-radius: 90px;
}
/*btn Show product*/
.show-prod{
    margin-bottom: 55px;
}
/*Contact page styling*/
.box-info{
    background: whitesmoke;
    padding: 10px 12px;
    border-radius: 15px ;
    border:  1px solid green;
}
.box-info ul{
    list-style: none;

}
.box-info ul li span{
    background: green;
    padding: 12px 15px;
    border-radius: 80px;
    color: azure;
}
.box-info ul li{
    padding-left: 10px;
    margin-top: 40px;
}
/*Footer styling*/
footer{
    display: flex;
    justify-content: space-around;
    background: black;
    color: white;
    padding: 25px 10px;
}
footer ul li{
    margin-top: 8px;
}
.social-icon  ul {
     list-style: none;
}
.social-icon ul li span{
    margin: 18px;
}
/*Media query small screen brakedown*/
@media screen and (min-width: 300px ) and (max-width: 700px) {
    /*navigation styling*/
    .btn-toggle{
        border: 2px solid green;
    }
    .btn-toggle:hover{
        border:2px solid green;
        background: rgba(0, 128, 0, 0.42);
    }
    .btn-toggle span{
        color: green;
        font-size: 1.8rem;
    }
    .offcanvas-header{
        background: #00005756;
        color: darkgreen;
        animation: 12s wel ease-in-out;
    }

    @keyframes wel {
        /*Different colors to top section*/
      from{background: #00005756;}  
      to{
        background: #0c93059e;
      }
    } 

    .offcanvas-body{
        background: rgba(12, 54, 54, 0.096);
    }
    .dropdown-menu{

        border: none;
        background: rgba(12, 54, 54, 0.096);
    }
    
    .active{
        color: darkgreen;
    }
    .nav-link{
        color: green;
    }
    /*Hovering navigation*/
    .nav-link:hover{
        color: darkcyan;
    }
    /*icon styling*/

    .icon{
        margin-top: 150px;
    }
    /*Home styling  */
    .home{
        min-height: 120vh;
    }
    .home button{
        margin-top: 30px;
        margin-bottom: 35px;
    }
    /*Product styling*/
    .row-2{
        display: flex;
        flex-direction: column;
    }
    .row-2 div {
        margin-top: 20px;
        margin-left: 50px;
    }
    footer{
        display: flex;
        padding: 30px 40px;
        flex-direction: column;
    }
    footer div{
        margin-top: 15px;
        border-bottom: 1px solid white;
    }
}
/*Extra styling for modals  */


.sign-up-modal{
    width: 550px;
}